.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
}

.date {
  justify-self: center;
}

.formType {
  justify-self: end;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.comment {
  grid-column: span 2;
}

@media (max-width: 868px) {
  .cardWrapper {
    grid-template-columns: 1fr;
  }

  .date {
    justify-self: start;
  }

  .formType {
    justify-self: start;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .comment {
    grid-column: span 1;
  }
}
