.tagContent {
  min-height: 58px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 0px;
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 8px;
}
#tagStyle {
  display: flex;
  padding: 5px 9px;
  align-items: center;
}
#inputAddTag {
  padding: 0;
  min-width: 200px;
  flex: 1;
}
