@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-layout {
  min-height: 100vh;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-active {
  background: #f66802d9;
}

/* .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #f66702;
} */

.ant-layout-header {
  background-color: #054a7b;
}

.ant-menu.ant-menu-dark,
.ant-layout-sider {
  background-color: #04375b;
}

.ant-menu-dark .ant-menu-item {
  color: white;
}

.sidemenu-trigger-button:hover {
  color: #f66702 !important;
}

.print-date-text {
  display: none;
}

@media print {
  .print-date-text {
    display: block;
    text-align: center;
    margin-top: -50px;
  }
  .print-page {
    scale: 0.9;
    font-size: 10px;
  }
  .top-charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding-left: 100px;
  }
  .top-charts > .chart {
    max-height: 150px;
    margin-left: -60px;
  }
  .three-charts {
    display: 'grid';
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.5rem;
    gap: 120px;
    height: 300px;
  }
  #chart-pie,
  #chart-bar {
    margin-top: 20px;
    width: 70%;
  }
  .chart-row > div {
    max-width: 200px;
    max-height: 150px;
    /* padding-top: 50px; */
  }

  .ant-layout-content,
  .ant-layout {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .ant-layout-sider,
  .ant-layout-header,
  .ant-breadcrumb,
  h2,
  form {
    display: none;
    overflow: hidden;
  }
  html,
  body {
    overflow: hidden;
  }
}
